#h{
    color:rgb(2, 0, 4);
    font-size: 50px;
    text-align: center;
}
#f{
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    width: 50%;
    border: 1px solid black;
    color: rgb(234, 234, 242);
    font-size: 20px;
    background-color:rgb(240, 240, 240);
    border-radius: 50px;
}
input{
    /*border-radius: 20px;*/
    outline: none;
    
    
}
body{
    background-color: white;
 
}
#sex{
    margin-top: 0px;
}
#langw{
   padding-top: 10px;

}














